 ::-webkit-scrollbar {
     display: none;
 }

 @keyframes bounce {

     0%,
     100% {
         -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         transform: translateY(-100%);
     }

     50% {
         -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
         animation-timing-function: cubic-bezier(0, 0, .2, 1);
         transform: none;
     }
 }

 @keyframes whatsapp {
     0% {
         -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         animation-timing-function: cubic-bezier(.5, 0, 1, 1);
         transform: rotate(5deg);
         width: 95px;
         height: 95px;
     }

     25% {
         -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         animation-timing-function: cubic-bezier(.5, 0, 1, 1);
         transform: rotate(-5deg);
         width: 95px;
         height: 95px;
     }

     50% {
         -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         animation-timing-function: cubic-bezier(.5, 0, 1, 1);
         transform: rotate(5deg);
         width: 95px;
         height: 95px;
     }

     75% {
         -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
         animation-timing-function: cubic-bezier(.5, 0, 1, 1);
         transform: rotate(-5deg);
         width: 95px;
         height: 95px;
     }

     100% {
         -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
         animation-timing-function: cubic-bezier(0, 0, .1, 1);
         transform: none;
         width: 80px;
         height: 80px;
     }
 }

 #bounce {
     animation: bounce 1s linear 1s infinite alternate;
 }

 #whatsapp {
     animation: whatsapp 1s linear 1s infinite alternate;
 }